{% extends 'base.html' %}
{% block title %}Карточка компании{% endblock %}
{% block container %}
{% load static %}
<main class="container mt-3">
  <section>
    <div class="text-center">
      <img src="{% static company.logo %}" width="130" height="80" alt="">
    </div>
    <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ company.title }}</strong></h1>
    <p class="text-center pt-1">{{ company.description }}</p>
    <p class="text-center pt-1">Компания, {{ company.location }}, {{ count }} {{ word }}</p>
    <div class="row mt-5">
      <div class="col-12 col-lg-8 offset-lg-2 m-auto">
        {% include 'vacancy_card.html' %}
      </div>
    </div>
  </section>
</main>
{% endblock %}